* {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: #171a21;

  font-family: sans-serif;
  color: #c7d5e0;
  text-align: center;
}

img {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

a {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  color: #c7d5e0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 95%;
  padding: 1.5em;
  border-radius: 5px;

  background-color: #1b2838;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  font-size: 1.5em;
}

@media (max-width: 500px) {
  body { font-size: 0.9em; }
}

@media (max-width: 450px) {
  body { font-size: 0.8em; }
}

@media (max-width: 400px) {
  body { font-size: 0.7em; }
}
